<div class="page">
    <div class="page__content">
        <div class="divider divider_left divider__small-margin">
            <span class="divider__title divider__title_left  ">Недавно просмотренные</span>
        </div>
        <div class="items">
            <div class="item">
                <div>
                    <a class="item__link" href="">
                        <div class="item__link_img_main">
                            <img class="item__link_img"  src="../../../assets/img/view/view-img-1.png" width="260" alt="">
                            <br>
                        </div>
                        <div class="item__link_title">
                            <span class="item__link_title_text">SHISEIDO</span>
                        </div>
                    </a>
                    <p class="item__description">Ночной крем BENEFIANCE NutriPerfect</p>
                </div>
                <div class="item__price">
                    <button class="button button_gray button_right-ico">18 760 ₸<div class="button__line"></div>
                        <i class="rocket-shop-bag_plus button__ico_right-ico "></i>
                    </button>
                </div>
            </div>
            <div class="item">
                <div>
                    <a class="item__link" href="">
                        <div class="item__link_img_main">
                            <img class="item__link_img"  src="../../../assets/img/view/view-img-2.png" width="260" alt="">
                            <br>
                            <div class="item__birka">
                                <img class="item__birka_img" src="../../../assets/img/view/view_new.png" width="78.4" height="24" alt="">
                                <span class="item__birka_text item__birka_new_text ">Новинка</span>
                            </div>
                        </div>
                        <div class="item__link_title">
                            <span class="item__link_title_text">LANCOME</span>
                        </div>
                    </a>
                    <p class="item__description">Корректирующий крем VISIONNAIRE DAY</p>
                </div>
                <div class="item__price">
                    <button class="button button_gray button_right-ico">18 760 ₸<div class="button__line"></div>
                        <i class="rocket-shop-bag_plus button__ico_right-ico "></i>
                    </button>
                </div>
            </div>
            <div class="item">
                <div>
                    <a class="item__link" href="">
                        <div class="item__link_img_main">
                            <img class="item__link_img"  src="../../../assets/img/view/view-img-3.png" width="230" alt="">
                            <br>
                            <div class="item__birka">
                                <img class="item__birka_img" src="../../../assets/img/view/view_exclusive.png" width="94" height="24" alt="" >
                                <span class="item__birka_text item__birka_exclusive_text">Эксклюзив</span>
                            </div>
                        </div>
                        <div class="item__link_title">
                            <span class="item__link_title_text">LANCOME</span>
                        </div>
                    </a>
                    <p class="item__description">Увлажняющая гелеобразная маска для лица Mask hydra intense</p>
                </div>
                <div class="item__price">
                    <button class="button button_gray button_right-ico">18 760 ₸<div class="button__line"></div>
                        <i class="rocket-shop-bag_plus button__ico_right-ico "></i>
                    </button>
                </div>
            </div>
            <div class="item">
                <div>
                    <a class="item__link" href="">
                        <div class="item__link_img_main">
                            <img class="item__link_img"  src="../../../assets/img/view/view-img-4.png" width="230" alt="">
                            <br>
                        </div>
                        <div class="item__link_title">
                            <span class="item__link_title_text">LANCOME</span>
                        </div>
                    </a>
                    <p class="item__description">Énergie De Vie Ночная маска </p>
                </div>
                <div class="item__price">
                    <button class="button button_gray button_right-ico">18 760 ₸<div class="button__line"></div>
                        <i class="rocket-shop-bag_plus button__ico_right-ico "></i>
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>