$deep-pink: #E10887;

$light-gray: #919fac;

$strong-cyan: #18a1ad;

$gainsboro: #dcdcdc;

$solitude: #edf0f3;

$suva-grey: #8c8c8c;

$medium-violet-red: #e00985;

$alice-blue: #f1f3f5;

$pelorous: #18A1AD;

$red-robin: #7A3E36;

$eggplant: #960358;

$dodger-blue: #4099FF;

$whisper: #E6E6E6;

$marine: #3B5998;

$wedgewood:#45668E;

$hollywood-cerise: #e009a4;

$very-light-grey: #C8C8C8;

$free-speech-red: #c31a06;

$grey: #828282;

$gainsboro-light: #DDDDDD;

$grey-chateau: #97A2AB;

$link-water: #D2D6D9;

$classic-rose: #F6C6E8;

$fuchsia: #BF64A8;

$alice-blue-dark: #F3F5F7;

$castro: #3E2C31;

$very-light-grey2: #cccccc;

$hawkes-blue:#DFE1E4;

$dim-gray:#747474;

$solitude-light:#e1e4e7;

$gainsboro-dark:#d8d8d8;

$dark-gray:#a3a3a3;

//font-size-h
$font-size-h1: 44px;

$font-size-h2: 32px;

$font-size-h3: 24px;

$font-size-h4: 17px;

$font-size-h5: 14px;

$font-size-h6: 12px;